---
import Layout from '@layouts/Layout.astro';
---
<Layout title="Ana Almazo - Meraki - Psicología">
    <section class="flex flex-col px-5 pt-5 md:pt-10">
        <h1 class="text-teal-700 text-4xl font-bold mb-5">Aviso legal</h1>
        <div class="flex flex-col gap-5 bg-teal-100 rounded p-5">
            <p>Esta página Web es propiedad de ANA ALMAZO MUÑOZ con NIF nº 31261359N y domicilio en JOSÉ LAGUILLO, 27 LOCAL C1 ( 41003 Sevilla )</p>
            <p class="font-bold">Para cualquier consulta o propuesta, contáctenos en el e-mail: <a href="mailto:info@anaalmazo.com">info@anaalmazo.com</a></p>
            <p>Esta página Web se rige por la normativa exclusivamente aplicable en España, quedando sometida a ella, tanto nacionales como extranjeros que utilicen esta Web.</p>
        </div>
        <div class="p-5 flex flex-col gap-5">
            <p>
                El acceso a nuestra página Web por parte del USUARIO es gratuito y está condicionado a la previa lectura y aceptación integra, expresa y sin reservas de las presentes CONDICIONES GENERALES DE USO vigentes en el momento del acceso, que rogamos lea detenidamente. El USUARIO en el momento que utiliza nuestro portal, sus contenidos o servicios, acepta y se somete expresamente a las condiciones generales de uso del mismo. Si el usuario no estuviere de acuerdo con las presentes condiciones de uso, deberá abstenerse de utilizar este portal y operar por medio del mismo. En cualquier momento podremos modificar la presentación y configuración de nuestra Web, ampliar o reducir servicios, e incluso suprimirla de la Red, así como los servicios y contenidos prestados, todo ello de forma unilateral y sin previo aviso.
            </p>
            <h2 class="font-bold text-xl">A. PROPIEDAD INTELECTUAL</h2>
            <p>Todos los contenidos, textos, imágenes, marcas y códigos fuente son de nuestra propiedad o de terceros a los que se han adquirido sus derechos de explotación, y están protegidos por los derechos de Propiedad Intelectual e Industrial.</p>
            <p>El usuario únicamente tiene derecho a un uso privado de los mismos, sin ánimo de lucro, y necesita autorización expresa para modificarlos, reproducirlos, explotarlos, distribuirlos o ejercer cualquier derecho perteneciente a su titular.</p>
            <h2 class="font-bold text-xl">B. CONDICIONES DE ACCESO</h2>
            <p>El acceso a nuestra página Web es gratuito y no exige previa suscripción o registro.</p>
            <p>El envío de datos personales implica la aceptación expresa por parte del USUARIO de nuestra política de privacidad.</p>
            <p>El usuario debe acceder a nuestra página Web conforme a la buena fe, las normas de orden público y a las presentes Condiciones Generales de uso. El acceso a nuestro sitio Web se realiza bajo la propia y exclusiva responsabilidad del usuario, que responderá en todo caso de los daños y perjuicios que pueda causar a terceros o a nosotros mismos.</p>
            <p>Teniendo en cuenta la imposibilidad de control respecto a la información, contenidos y servicios que contengan otras páginas web a los que se pueda acceder a través de los enlaces que nuestra página web pueda poner a su disposición, le comunicamos que quedamos eximidos de cualquier responsabilidad por los daños y perjuicios de toda clase que pudiesen derivar por la utilización de esas páginas web, ajenas a nuestra empresa, por parte del usuario.</p>
            <h2 class="font-bold text-xl">C. POLÍTICA DE PRIVACIDAD</h2>
            <p>La confidencialidad y la seguridad son valores primordiales de ANA ALMAZO MUÑOZ y, en consecuencia, asumimos el compromiso de garantizar la privacidad del Usuario en todo momento y de no recabar información innecesaria. A continuación, le proporcionamos toda la información necesaria sobre nuestra Política de Privacidad en relación con los datos personales que recabamos, explicándole:</p>
            <ul>
                <li class="list-disc ml-10">Quién es el responsable del tratamiento de sus datos.</li>
                <li class="list-disc ml-10">Para qué finalidades recabamos los datos que le solicitamos.</li>
                <li class="list-disc ml-10">Cuál es la legitimación para su tratamiento.</li>
                <li class="list-disc ml-10">Durante cuánto tiempo los conservamos.</li>
                <li class="list-disc ml-10">A qué destinatarios se comunican sus datos.</li>
                <li class="list-disc ml-10">Cuáles son sus derechos y cómo ejercerlos.</li>
            </ul>
            <h3 class="font-bold">1. RESPONSABLE: ver datos en el encabezamiento.</h3>
            <h3 class="font-bold">2. FINALIDADES, LEGITIMACIÓN Y CONSERVACIÓN</h3>
            <p>de los tratamientos de los datos enviados a través de:</p>
            <h4 class="font-bold">Formulario de Contacto.</h4>
            <p><span class="font-bold">Finalidad:</span> Facilitarle un medio para que pueda ponerse en contacto con nosotros y contestar a sus solicitudes de información, así como enviarle comunicaciones de nuestros productos, servicios y actividades, inclusive por medios electrónicos (correo electrónico, SMS, etc.), si marca la casilla de aceptación.</p>
            <p><span class="font-bold">Legitimación:</span> El consentimiento del usuario al solicitarnos información a través de nuestro formulario de contactos y al marcar la casilla de aceptación de envío de información.</p>
            <p><span class="font-bold">Conservación:</span> Una vez resuelta su solicitud por medio de nuestro formulario o contestada por correo electrónico, si no ha generado un nuevo tratamiento, y en caso de haber aceptado recibir envíos comerciales, hasta que solicite la baja de los mismos.</p>
            <h4 class="font-bold">Envío de correos electrónicos.</h4>
            <p><span class="font-bold">Finalidad:</span> Contestar a sus solicitudes de información, atender sus peticiones y responder sus consultas o dudas. En caso de recibir su Currículum Vitae, sus datos personales y curriculares podrán formar parte de nuestras bases de datos para participar en nuestros procesos de selección presentes y futuros.</p>
            <p><span class="font-bold">Legitimación:</span> El consentimiento del usuario al solicitarnos información a través de la dirección de correo electrónico o enviarnos sus datos y CV para participar en nuestros procesos de selección.</p>
            <p><span class="font-bold">Conservación:</span> Una vez resulta contestada su petición por correo electrónico, si no ha generado un nuevo tratamiento. En el caso de recibir su CV, sus datos podrán ser conservados durante un año máximo para futuros procesos de selección.</p>
            <p><span class="font-bold">Obligación de facilitarnos sus datos personales y consecuencias de no hacerlo.</span></p>
            <p>El suministro de datos personales requiere una edad mínima de 14 años o, en su caso, la edad mínima que establezca la normativa de protección de datos aplicable y/o disponer de capacidad jurídica suficiente para contratar.</p>
            <p>Los datos personales solicitados son necesarios para gestionar sus solicitudes, darle de alta como usuario y/o prestarle los servicios que pueda contratar, por lo que, si no nos los facilita, no podremos atenderle correctamente ni prestarle el servicio que ha solicitado.</p>
            <p>En todo caso, nos reservamos el derecho de decidir sobre la incorporación o no de sus datos personales y demás información a nuestras bases de datos.</p>
            <h3 class="font-bold">3. DESTINATARIOS DE SUS DATOS.</h3>
            <p>Sus datos son confidenciales y no se cederán a terceros, salvo que exista obligación legal.</p>
            <h3 class="font-bold">4. COOKIES</h3>
            <p>Esta página Web puede utilizar cookies pero que en ningún caso tratan datos de carácter personal, captan hábitos de navegación del usuario ni son utilizadas con fines publicitarios, y que por lo tanto quedan exceptuadas del cumplimiento de las obligaciones establecidas en el artículo 22 de la Ley de Servicios de la Sociedad de la Información. No obstante, el usuario consiente el uso de las cookies que nos permitan la comunicación entre el equipo del usuario y la red, prestar un servicio expresamente solicitado por el usuario, la autenticación o identificación de usuario (únicamente de sesión), dar seguridad al usuario, sesiones de reproductor multimedia, sesiones para equilibrar la carga, la personalización de la interfaz de usuario y de complementos (plug-in) e intercambiar contenidos sociales. De todas formas, el usuario si lo desea puede desactivar y/o eliminar estas cookies siguiendo las instrucciones de su navegador de Internet.</p>
            <h3 class="font-bold">5. DERECHOS EN RELACIÓN CON SUS DATOS PERSONALES.</h3>
            <p>Cualquier persona puede retirar su consentimiento en cualquier momento, cuando el mismo se haya otorgado para el tratamiento de sus datos. En ningún caso, la retirada de este consentimiento condiciona la ejecución del contrato de suscripción o las relaciones generadas con anterioridad.</p>
            <p>Igualmente, puede ejercer los siguientes derechos:</p>
            <ul>
                <li class="list-disc ml-10">Solicitar el acceso a sus datos personales o su rectificación cuando sean inexactos.</li>
                <li class="list-disc ml-10">Solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines para los que fueron recogidos.</li>
                <li class="list-disc ml-10">Solicitar la limitación de su tratamiento en determinadas circunstancias.</li>
                <li class="list-disc ml-10">Solicitar la oposición al tratamiento de sus datos por motivos relacionados con su situación particular.</li>
                <li class="list-disc ml-10">Solicitar la portabilidad de los datos en los casos previstos en la normativa.</li>
                <li class="list-disc ml-10">Otros derechos reconocidos en las normativas aplicables.</li>
            </ul>
            <p><span class="underline">Dónde y cómo solicitar sus Derechos:</span> Mediante un escrito dirigido al responsable a su dirección postal o electrónica (indicadas en el apartado A), indicando la referencia “Datos Personales”, especificando el derecho que se quiere ejercer y respecto a qué datos personales.</p>
            <p>En caso de divergencias con la empresa en relación con el tratamiento de sus datos, puede presentar una reclamación ante la Agencia de Protección de Datos (www.agpd.es).</p>
            <h3 class="font-bold">6. SEGURIDAD DE SUS DATOS PERSONALES</h3>
            <p>Con el objetivo de salvaguardar la seguridad de sus datos personales, le informamos que hemos adoptado todas las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos personales suministrados de su alteración, pérdida y tratamientos o accesos no autorizados.</p>
            <h3 class="font-bold">7. ACTUALIZACIÓN DE SUS DATOS</h3>
            <p>Es importante que para que podamos mantener sus datos personales actualizados, nos informe siempre que haya habido alguna modificación en ellos, en caso contrario, no respondemos de la veracidad de los mismos.</p>
            <p>No nos hacemos responsables de la política de privacidad respecto a los datos personales que pueda facilitar a terceros por medio de los enlaces disponibles en nuestra página web.</p>
            <p>La presente Política de Privacidad ha sido modificada en fecha 12 de junio de 2019 y puede ser modificada para adaptarlas a los cambios que se produzca en nuestra web, así como modificaciones legislativas o jurisprudenciales sobre datos personales que vayan apareciendo, por lo que exige su lectura, cada vez que nos facilite sus datos a través de esta Web.</p>
            <h2 class="font-bold text-xl">D. RESPONSABILIDADES</h2>
            <p>Al poner a disposición del usuario esta página Web queremos ofrecerle un servicio de calidad, utilizando la máxima diligencia en la prestación del mismo, así como en los medios tecnológicos utilizados. No obstante, no responderemos de la presencia de virus y otros elementos que de algún modo puedan dañar el sistema informático del usuario.</p>
            <p>No garantizamos que la disponibilidad del servicio sea continua e ininterrumpida.</p>
            <p>El USUARIO tiene prohibido cualquier tipo de acción sobre nuestro portal que origine una excesiva sobrecarga de funcionamiento a nuestros sistemas informáticos, así como la introducción de virus, o instalación de robots, o software que altere el normal funcionamiento de nuestra web, o en definitiva pueda causar daños a nuestros sistemas informáticos.</p>
            <p>El USUARIO asume toda la responsabilidad derivada del uso de nuestra página web.</p>
            <p>El USUARIO reconoce que ha entendido toda la información respecto a las condiciones de uso de nuestro portal, y reconoce que son suficientes para la exclusión del error en las mismas, y por lo tanto, las acepta integra y expresamente.</p>
        </div>
    </section>
</Layout>