<section id="contacto" class="flex flex-col mt-10">
    <h2 class="text-2xl font-bold text-teal-700 md:text-5xl md:mx-0">Contacto</h2>
    <div class="p-5 flex flex-col gap-5 md:flex-row md:gap-20 md:my-5">
        <div class="flex flex-row gap-5 md:basis-1/2">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="self-center text-teal-700" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z" stroke-width="0" fill="currentColor"></path>
                 </svg>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-bold text-xl">Teléfono <span class="text-teal-700 font-thin">/ info y cita previa</span></p>
                <p><a href="tel:626379548" class="text-teal-700">626 379 548</a></p>
            </div>
        </div>
        <div class="flex flex-row gap-5 md:basis-2/3">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="self-center text-teal-700" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" stroke-width="0" fill="currentColor"></path>
                    <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" stroke-width="0" fill="currentColor"></path>
                 </svg>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-bold text-xl">Email</p>
                <p><a href="mailto:info@anaalmazo.com" class="text-teal-700">info@anaalmazo.com</a></p>
            </div>
        </div>
    </div>
    <div class="mx-5 text-teal-700 font-bold">Sevilla</div>
    <div class="border-b border-teal-700 mx-5 max-w-[150px]"></div>
    <div class="p-5 flex flex-col gap-5 md:flex-row md:gap-20 md:my-5">
        <div class="flex flex-row gap-5 md:basis-1/2">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="self-center text-teal-700" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
                    <path d="M9 4v13"></path>
                    <path d="M15 7v5.5"></path>
                    <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"></path>
                    <path d="M19 18v.01"></path>
                 </svg>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-bold text-xl">C/José Laguillo 27 Bloque 6 Bajo</p>
                <p class="text-sm">
                    <a href="https://goo.gl/maps/5FhyeG4Q3VFYaRYLA" class="text-teal-700">
                        (Urbanización Saturno, junto a Estación Santa Justa)
                        <br/>
                        41003 Sevilla
                    </a>
                </p>
            </div>
        </div>
        <div class="flex flex-row gap-5 md:basis-2/3">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="self-center text-teal-700" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
                    <path d="M18 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                    <path d="M10 5h7c2.761 0 5 3.134 5 7v5h-2"></path>
                    <path d="M16 17h-8"></path>
                    <path d="M16 5l1.5 7h4.5"></path>
                    <path d="M9.5 10h7.5"></path>
                    <path d="M12 5v5"></path>
                    <path d="M5 9v11"></path>
                 </svg>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-bold text-xl">TUSSAM</p>
                <p>C1-C2-32-C3-C4-1</p>
            </div>
        </div>
    </div>
    <div class="mx-5 text-teal-700 font-bold">Conil</div>
    <div class="border-b border-teal-700 mx-5 max-w-[150px]"></div>
    <div class="p-5 flex flex-col gap-5 md:flex-row md:gap-20 md:my-5">
        <div class="flex flex-row gap-5">
            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="self-center text-teal-700" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
                    <path d="M9 4v13"></path>
                    <path d="M15 7v5.5"></path>
                    <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"></path>
                    <path d="M19 18v.01"></path>
                 </svg>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-bold text-xl">C/ Rosa de los Vientos 23</p>
                <p class="text-sm">
                    <a href="https://goo.gl/maps/uUhYbjXWV1br1pn19" class="text-teal-700">
                        Conil de la frontera
                        <br/>
                        11140 Cádiz
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>