<footer class="bg-neutral-900 text-white text-center py-5 text-sm">
    Web hecha con ♥️ por <a href="https://juanjodevs.com" target="_blank">JuanjoDevs</a> - <a href="/legal">Aviso legal</a>
</footer>