<section class="hero h-[500px] bg-top bg-[url('/hero-bg.webp')] flex flex-col justify-center text-right pr-10 text-neutral-700 p-5 md:bg-bottom md:justify-start md:pr-24 md:pt-12">
    <span class="text-3xl">Poner el alma, la creatividad y el amor en lo que haces </span>
    <h1 class="text-5xl mt-5 font-bold drop-shadow-xl md:text-7xl">Meraki</h1>
</section>
<style>
    .hero {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    }
    span, h1 {
        animation: reveal 3s;
    }
    @keyframes reveal {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>