<section class="flex flex-col md:flex-row md:mx-7">
    <div class="flex flex-col py-16 px-10 bg-teal-700 text-white md:rounded-l-lg">
        <h2 class="text-2xl font-bold md:text-5xl">¿Con qué problemáticas trabajo?</h2>
        <p class="text-xl font-bold mb-2 mt-5">Problemas del estado de ánimo</p>
        <p>Depresión, tristeza, apatía, desesperanza, falta de energía, desmotivación, incapacidad para disfrutar de la vida…</p>
        <p class="text-xl font-bold mb-2 mt-5">Trastornos de ansiedad</p>
        <p>Ansiedad generalizada, ataques de pánico, fobias</p>
        <p class="text-xl font-bold mb-2 mt-5">Estrés postraumático</p>
        <p class="text-xl font-bold mb-2 mt-5">Trastornos Obsesivo-compulsivo</p>
        <p class="text-xl font-bold mb-2 mt-5">Problemas de dependencia emocional</p>
        <p class="text-xl font-bold mb-2 mt-5">Duelos</p>
    </div>
    <div class="flex flex-col py-16 px-10 text-teal-700 md:text-right border-4 border-teal-700 md:rounded-r-lg">
        <h2 class="text-2xl font-bold md:text-5xl">¿Con qué población?</h2>
        <p class="mt-5 text-xl">Adultos y adolescentes</p>
    </div>
</section>